__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
local_settings.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# hidden project files
seattle_crime_project/hidden.py

# Virtual Environment
seattle_crime_venv/


seattle_crime_app/data/

.DS_Store