<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.min.css" />
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.min.css" />
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.css" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      

  <title>Seattle Crime Map</title>
  </head>
  <body>



  <!-- Sidebar -->
  <div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="display: inline-block;">
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="ACCIDENT INVESTIGATION">ACCIDENT INVESTIGATION
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="ANIMAL COMPLAINTS">ANIMAL COMPLAINTS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="ARREST">ARREST
                  </label>
              </div>
            </li>  
            <li>      
              <div class="checkbox"> 
                  <label><input type="checkbox" id="ASSAULTS">ASSAULTS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="AUTO THEFTS">AUTO THEFTS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="BIKE">BIKE
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="BURGLARY">BURGLARY
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="CAR PROWL">CAR PROWL
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="DISTURBANCES">DISTURBANCES
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="DRIVE BY (NO INJURY)">DRIVE BY (NO INJURY)
                  </label>
              </div>
            </li>        
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="FAILURE TO REGISTER (SEX OFFENDER)">FAILURE TO REGISTER (SEX OFFENDER)
                  </label>
              </div>       
            </li>
            <li>
            <div class="checkbox"> 
                <label><input type="checkbox" id="FALSE ALACAD">FALSE ALACAD (alarm)
                </label>
            </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="FALSE ALARMS">FALSE ALARMS
                  </label>
              </div>
            </li>  
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="FRAUD CALLS">FRAUD CALLS
                  </label>
              </div>
            </li>             
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="HARBOR CALLS">HARBOR CALLS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="HAZARDS">HAZARDS
                  </label>
              </div>
            </li>      
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="LEWD CONDUCT">LEWD CONDUCT
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="LIQUOR VIOLATIONS">LIQUOR VIOLATIONS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="MENTAL HEALTH">MENTAL HEALTH
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="MISCELLANEOUS MISDEMEANORS">MISCELLANEOUS MISDEMEANORS
                  </label>
              </div>
            </li>      
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="NARCOTICS COMPLAINTS">NARCOTICS COMPLAINTS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="NUISANCE, MISCHIEF">NUISANCE, MISCHIEF
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="OTHER PROPERTY">OTHER PROPERTY
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="OTHER VICE">OTHER VICE
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PERSON DOWN/INJURY ">PERSON DOWN/INJURY 
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PERSONS - LOST, FOUND, MISSING">PERSONS - LOST, FOUND, MISSING
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PROPERTY - MISSING, FOUND">PROPERTY - MISSING, FOUND
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PROPERTY DAMAGE">PROPERTY DAMAGE
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PROSTITUTION">PROSTITUTION
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="PROWLER">PROWLER
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="RECKLESS BURNING">RECKLESS BURNING
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="ROBBERY">ROBBERY
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="SHOPLIFTING">SHOPLIFTING
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="SUSPICIOUS CIRCUMSTANCES">SUSPICIOUS CIRCUMSTANCES
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="THREATS, HARASSMENT">THREATS, HARASSMENT
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="TRAFFIC RELATED CALLS">TRAFFIC RELATED CALLS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="TRESPASS">TRESPASS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="VICE CALLS">VICE CALLS
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="WEAPONS CALLS">WEAPONS CALLS
                  </label>
              </div>
            </li>

            <a href="#clear" class="btn btn-default" id="clear">Clear All Selections</a>
            <a href="#violent-crime" class="btn btn-default" id="violence">Map Violent Crimes Only</a>

            <li>&nbsp;</li>
            
            

        </ul>
        </div>
      </div>




  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">

  <!--Begin Navbar-->
   <div class="navbar navbar-custom navbar-fixed-top">
   <div class="navbar-header"><a class="navbar-brand" href="#">Crime Mapper</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <a href="#menu-toggle" class="btn btn-default top_btn" id="menu-toggle">Toggle Crime Menu</a>
        <li>
        <form class="navbar-form" id="mapInput">
          {% csrf_token %}
          <div class="form-group" style="display:inline;">
            <div class="input-group">
              <div class="input-group-btn">
                <!--<select class="form-control" id="dataset">
                  <option value="seattle_crime_app_crimemodel">Dataset</option>
                </select>-->           
              </div>
            </div>
           </div>
          </div>
        </form>
      </li>
  </ul>
      </div>
  </div>


  <div id="popup" title="Crime Detail"></div>
      </div>



  <div id="map" class="map"></div>
  <div class="container-fluid" id="main">
    <div class="row">
    <div class="col-xs-12"></div>    
    </div>
  </div>



              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

      </div>



  <!-- The script has to follow the map div for whatever reason. Otherwise it won't work. -->

  <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
  <script type="text/javascript" src="../static/js/mapScript.js"></script>


  </body>
</html>